# Python
__pycache__/
*.py[cod]
*$py.class

# Environments
.env
.venv/
venv/
env/
ENV/
pyvenv.cfg

# Databases (usually local development testing only)
*.db
*.sqlite3

# IDE / System files
.vscode/
.idea/
.DS_Store
Thumbs.db
